<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dirUpload" value="~/Temp/"/>
    <add key="serverSMTP" value="smtp.sendgrid.net"/>
    <add key="userSMTP" value="YOUR SENDGRID DATA"/>
    <add key="pwdSMTP" value="YOUR SENDGRID DATA"/>
    <add key="apiKey" value="YOUR SENDGRID DATA"/>
    <add key="emailSMTP" value="YOUR SENDGRID DATA"/>
    <add key="nombreEnvia" value="YOUR SENDGRID DATA"/>
    <add key="MaintenanceMode" value="true"/>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="conexionDB" connectionString="Server=(TU SERVER)" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
	<customErrors mode="Off" />
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="es-CO" uiCulture="es"/>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
		<add assembly="System.Threading.Tasks, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <!-- 50MB in kilobytes, default is 4096 or 4MB-->
    <httpRuntime maxRequestLength="15360" requestValidationMode="2.0"/>
  </system.web>
  <system.webServer>
    <!--<staticContent>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
    </staticContent>-->
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <!-- 50MB in bytes, default is 30000000 or approx. 28.6102 Mb-->
        <requestLimits maxAllowedContentLength="15728640"/>
        <fileExtensions>
          <add fileExtension=".php" allowed="false"/>
        </fileExtensions>
      </requestFiltering>
    </security>
    <!--<rewrite>
      <rules>
        <rule name="http_to_https" stopProcessing="true">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$"/>
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}"/>
        </rule>
       
      </rules>
    </rewrite>-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>